:root {
    --base: #1e1e2e;
    --overlay-1: #7f849c;
    --surface-0: #313244;
    --text: #cdd6f4;
    --crust: #11111b;
    --peach: #fab387;
    --mauve: #cba6f7;
    --blue: #89b4fa;
    --rosewater: #f5e0dc;
}

body {
    background-color: var(--base);
    margin: 0;
}
.background-texture {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    mix-blend-mode: soft-light;
    opacity: 20%;
}


main {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6;
    font-size: 0.9rem;
    color: var(--text);
}
.home {
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
}
.markdown {
    max-width: 740px;
    margin: 3.5rem auto;
    padding-left: 1rem;
    border-left: 1px solid var(--overlay-1);
}

h1{
    line-height: 1.25;
    margin: 1rem 0;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
    color: var(--peach);
}
h2 {
    line-height: 1.25;
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 0;
    color: var(--rosewater);
}

p {
    margin: 2rem 0;
}

/* liste qui suit un paragraphe */
p:has(+ ul) {
    margin-bottom: 0.6rem;
}
p + ul {
    margin-top: 0.3rem;
}

a {
    color: var(--blue);
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

/* Notes de bas de page */
#footnotes {
    margin-top: 3.2rem;
}
#footnotes hr {
    width: 200px;
    margin: 0;
    border: 1px dashed var(--overlay-1);
}
#footnotes p {
    font-size: 0.8rem;
}
#footnotes p:first-of-type {
    margin-bottom: 0.6rem;
}
#footnotes p:first-of-type ~ p {
    margin: 0.6rem 0;
}

/* code in a paragraph */
code {
  background-color: var(--surface-0);
  border: 1px solid var(--overlay-1);
  border-radius: 3px;
  padding: 0 4px;
}
/* code block */
pre {
    background-color: var(--surface-0);
    border: 1px solid var(--overlay-1);
    border-radius: 3px;
    padding: 0 4px;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}
pre code {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
}


iframe {
    width: 100%;
    min-height: 500px;
}

button {
    background-color: var(--blue);
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--crust);
    margin: 0.8rem 0;
}
button::before {
    content: "→ ";
}
button:hover {
    box-shadow: 0.1rem 0.1rem 0.2rem var(--crust);
}